{% extends 'back/base.html.twig' %}






{% block body %}
    {{ form_start(form_modify, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(form_modify._token) }}
<link href={{ asset('assets/css/styleProfile.css') }} rel="stylesheet">

<div style="padding:70px">

</div>


<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                {% set link = "Uploads/Images/" %}
                                {% set picture = User.photo  %}

                                <img src={{ asset( "#{link}#{picture}" ) }}>

                            </div>

                            <h5 class="user-name">{{ User.nom }}</h5>
                            <h6 class="user-email">{{ User.email }}</h6>
                            
                            <a style="color: #0a0a0a" href={{ path('change_passwordEtudiant') }}> Changer votre mot de passe </a>
                            <a style="color: #0a0a0a" href={{ path('logout') }}>Desactiver mon compte  </a>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Vos informations</h6>
                        </div>




                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Mot de passe</label>
                                {{ form_row(form_modify.password.first,{ 'attr': {'class': "form-control",
                                    'placeholder': 'Votre mot de passe'|trans} }) }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">Confirmer</label>
                                {{ form_row(form_modify.password.second,{ 'attr': {'class': "form-control",
                                    'placeholder': 'Confirmer votre mot de passe'|trans} }) }}
                            </div>
                        </div>

                        </div>

                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-success">Modifier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding:70px">

    </div>
    <div id="divCheckbox" style="display: none;">{{ form_rest(form_modify) }}</div>


    {{ form_end(form_modify, {'render_rest': false}) }}

    {% endblock %}


