<!DOCTYPE html>
<html lang="">
    <head>
<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title> {% block title %} FreeEtudiant {% endblock %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{{ asset ("site.webmanifest") }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset ("assets/img/favicon.ico") }}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/price_rangs.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/slicknav.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/nice-select.css')}}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">


    </head>

    <body >
        {% block header %}

            <!-- Header Start -->
            <div class="header-area header-transparrent">
                <div class="headder-top header-sticky">
                    <div class="container" style="position: relative; top: 25px;">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-2">
                                <!-- Logo -->
                                <div class="logo">
                                    <a href=""><img src="{{ asset('assets/img/logo/logo.png') }}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="menu-wrapper">
                                    <!-- Main-menu -->
                                    <div class="main-menu">
                                        <nav class="d-none d-lg-block">
                                            <ul id="navigation">
                                                <li style="position: relative; left: -110px;"><a href={{ path('home') }}>Home</a>
                                                    {% if is_granted('ROLE_ETUDIANT')   %}
                                                <li style="position: relative; left: -50px;"><a   href={{ path('ProfilEtudiant') }}>Mon profil</a></li>
                                                {% elseif is_granted('ROLE_ENTREPRISE') %}
                                                    <li style="position: relative; left: -110px;" ><a   href={{ path('ProfilEntreprise') }}>Mon profil</a></li>
                                                {% elseif is_granted('ROLE_ENTREPRISEN') or is_granted('ROLE_EtudiantN')  %}
                                                    <li style="position: relative; left: -110px;">Verifier Votre Compte</li>
                                                {% else    %}
                                                    <li style="position: relative; left: -110px;"></li>
                                                {% endif %}
                                                </li>

                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    <p> Bienvenue {{ app.user.nom }}  </p>

                                                    <div class="header-btn d-none f-right d-lg-block">
                                                        <a href="{{ path('logout') }}" style="position: relative; top: -120px; left: 160px;" class="btn head-btn2">Logout</a>
                                                    </div>
                                                    {% else  %}
                                                        <div class="header-btn d-none f-right d-lg-block">
                                                            <a href="{{ path('loginBack') }}"  style="position: relative; left: -110px;" class="btn head-btn2">Se Connecter </a>
                                                        </div>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>

                                    <!-- Header-btn -->
                                    <!-- Header-btn -->

                                </div>
                            </div>
                            <!-- Mobile Menu -->

                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
        {% block body %} {% endblock %}
        {% block footer %}

            <!-- Footer Start-->
            <div class="footer-area footer-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <div class="footer-tittle">
                                        <h4>About Us</h4>
                                        <div class="footer-pera">
                                            <p>FreeEtudiant est une plateforme conçue pour les étudiants qui cherchent des petit Job et pour les entreprises qui cherchent des étudiants pour la même cause</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address : 1, 2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala
                                                </p>
                                        </li>
                                        <li><a href="#">Telephone : +216 70 000 111 </a></li>
                                        <li><a href="#">Email : Freeetudiant120@gmail.com</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                    </div>
                    <!--  -->

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="footer-tittle-bottom">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="footer-tittle-bottom">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <!-- Footer Bottom Tittle -->
                            <div class="footer-tittle-bottom">
                                <span></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock  %}
        {% block js %}

            <!-- All JS Custom Plugins Link Here here -->
            <script src="{{ asset("./assets/js/vendor/modernizr-3.5.0.min.js") }}"></script>
            <!-- Jquery, Popper, Bootstrap -->
            <script src="{{ asset ("./assets/js/vendor/jquery-1.12.4.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/popper.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/bootstrap.min.js")}}"></script>
            <!-- Jquery Mobile Menu -->
            <script src="{{ asset ("./assets/js/jquery.slicknav.min.js") }}"></script>

            <!-- Jquery Slick , Owl-Carousel Plugins -->
            <script src="{{ asset ("./assets/js/owl.carousel.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/slick.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/price_rangs.js") }}"></script>

            <!-- One Page, Animated-HeadLin -->
            <script src="{{ asset ("./assets/js/wow.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/animated.headline.js") }}"></script>
            <script src="{{ asset ("./assets/js/jquery.magnific-popup.js") }}"></script>

            <!-- Scrollup, nice-select, sticky -->
            <script src="{{ asset ("./assets/js/jquery.scrollUp.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/jquery.nice-select.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/jquery.sticky.js") }}"></script>

            <!-- contact js -->
            <script src="{{ asset ("./assets/js/contact.js") }}"></script>
            <script src="{{ asset ("./assets/js/jquery.form.js") }}"></script>
            <script src="{{ asset ("./assets/js/jquery.validate.min.js") }}"></script>
            <script src="{{ asset ("./assets/js/mail-script.js") }}"></script>
            <script src="{{ asset ("./assets/js/jquery.ajaxchimp.min.js") }}"></script>

            <!-- Jquery Plugins, main Jquery -->
            <script src="{{ asset ("./assets/js/plugins.js") }}"></script>
            <script src="{{ asset ("./assets/js/main.js") }}"></script>

        {% endblock %}

    </body>
</html>
